ul, li, ol {
	list-style: none;
	margin-bottom: 0;
	display: inline-block;
}

.pc-layout {
	position: relative;
	overflow: hidden;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 40px;
}
/*------------------------------ICON--1------------------------------*/
.icon-1 {
	display: inline-block;
	background-image: url('../img/ico_pc_20.png');
	background-position: left top;
	vertical-align: middle;
}

.icon-1.icon-head {
	width: 16px;
	height: 16px;
	background-position: -20px -260px;
}

/*------------------------------ICON--2------------------------------*/
.icon-2 {
	display: inline-block;
	background-image: url('../img/ico_mobile_50.png');
	background-position: left top;
	background-size: 100%;
	vertical-align: middle;
	width: 25px;
	height: 25px;
}
.icon-2.icon-slider-left {
	background-position: 0 -40px;
}
.icon-2.icon-slider-right {
	background-position: 0 -65px;
}
/*------------------------------ICON--3------------------------------*/
.icon-3 {
	display: inline-block;
	background-image: url('../img/ico_sns_60_opacity.png');
	background-position: left top;
	background-size: 100%;
	vertical-align: middle;
	width: 30px;
	height: 32px;
}
.icon-3.icon-face {
	background-position: 0 0;
}
.icon-3.icon-youtb {
	background-position: 0 -160px;
}
.icon-3.icon-navp {
	background-position: 0 -94px;
}
.icon-3.icon-twitter {
	background-position: 0 -32px;
}
.icon-3.icon-insta {
	background-position: 0 -192px;
}
/*------------------------------HEADER------------------------------*/
header {
	background-color: #fff;
}
header .pc-layout {}
header select {
	max-width: 1240px;
	border: none;
	outline: none;
	float: right;
}


header .pc-layout> nav {display: inline-block;}
header .pc-layout> nav h1 {float: left;}
header .pc-layout> nav h1 a {}
header .pc-layout> nav h1 a img {}
header .pc-layout> nav ul {
	margin-top: 27px;
    padding: 20px 0px 20px 10px;
}
header .pc-layout> nav ul li {
	padding: 0 10px;
}
header .pc-layout> nav ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #686f75;
	margin: 0;
	padding: 12px 0px 10px;
}

header .pc-layout .gnb-list {display: inline-block;overflow: hidden;}
header .pc-layout .gnb-list li {display: inline-block;}
header .pc-layout .gnb-list li a {text-decoration: none;}

header .pc-layout .sub-list {display: inline-block;overflow: hidden;}
header .pc-layout .sub-list li {display: inline-block;color: #fff;}
header .pc-layout .sub-list li a {
	text-decoration: none;
	background-color: #36719d;
	color: #fff;
	padding-left: 20px;
	padding-right: 15px;
}



/*------------------------------HEADER------------------------------*/

.content-area button {
	width: 44px;
	height: 44px;
	background: rgba(0, 0, 0, 0.6);;
}
.content-area button.button-right {
	right: 0;
	float: right;
}

/*------------------------------SLIDER------------------------------*/

.content-area {
	margin: 0;
	padding: 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 60vh;

	transition: all 0.4s;
	animation-name: change_opacity;
}
@keyframes change_opacity {
	from {opacity: 0.5;}
	to {opacity: 1;}
}
.content-area label {cursor: pointer;}

#check-1:checked ~ .content-area {
	background-image: url('../img/main-grandeur-20fl-keyvisual-w.jpg');
	opacity: 1;
}
#check-2:checked ~ .content-area {
	background-image: url('../img/main-keyvisual-tucson-20my-w.jpg');
	opacity: 1;
}
#check-3:checked ~ .content-area {
	background-image: url('../img/main-keyvisual-sonata-dn8-sensuous-19lc-19wheel-w.jpg');
	opacity: 1;
}
#check-4:checked ~ .content-area {
	background-image: url('../img/main-keyvisual-kona-hybrid-lc-w.jpg');
	opacity: 1;
}
#check-5:checked ~ .content-area {
	background-image: url('../img/main-keyvisual-venue-launching-w.jpg');
	opacity: 1;
}
#check-6:checked ~ .content-area {
	background-image: url('../img/main-keyvisual-Palisade-w.jpg');
	opacity: 1;
}


.content-area .text-box {
	padding: 5% 0 0 10%;
}
.content-area .text-box h2 {
	display: none;
	font-size: 54px;
	color: #000;
	font-weight: 500;
	text-shadow: -5px -5px 25px rgba(0,0,0,0.2);
}
.content-area .text-box h2 span {
	color: #000;
	font-size: 24px;
	text-shadow: -5px -5px 25px rgba(0,0,0,0.2);
	max-width: 60%;
	word-break: keep-all;
}

input#check-1:checked ~ .content-area .text-box .slider-text-1 {display: block;}
input#check-2:checked ~ .content-area .text-box .slider-text-2 {display: block;}
input#check-3:checked ~ .content-area .text-box .slider-text-3 {display: block;color: #fff;}
input#check-4:checked ~ .content-area .text-box .slider-text-4 {display: block;}
input#check-5:checked ~ .content-area .text-box .slider-text-5 {display: block;color: #fff;}
input#check-5:checked ~ .content-area .text-box .slider-text-5 span {color: #fff;}
input#check-6:checked ~ .content-area .text-box .slider-text-6 {display: block;}



.controller-slider .slider-paging {}
.controller-slider .slider-paging li {display: inline-block; padding-right: 20px;}
.controller-slider .slider-paging li label {color: #fff;}
.controller-slider .slider-paging li label .disc {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 50%; 
}

#check-1,#check-2,#check-3,#check-4,#check-5,#check-6 {display: none;}

#check-1:checked ~ .controller-slider .paging-1 .disc {background-color: #0071bb;}
#check-2:checked ~ .controller-slider .paging-2 .disc {background-color: #0071bb;}
#check-3:checked ~ .controller-slider .paging-3 .disc {background-color: #0071bb;}
#check-4:checked ~ .controller-slider .paging-4 .disc {background-color: #0071bb;}
#check-5:checked ~ .controller-slider .paging-5 .disc {background-color: #0071bb;}
#check-6:checked ~ .controller-slider .paging-6 .disc {background-color: #0071bb;}


.controller-slider {
	margin: 0;
	padding: 0;
	background-color: #e6e1dd;
	width: 100%;
	overflow: hidden;
	padding: 1.8rem;
	text-align: center;
}

/*------------------------------SLIDER------------------------------*/

/*------------------------------Model------------------------------*/
.model {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}
.model h2 {
	font-size: 44px;
	text-align: center;
	font-weight: normal;
	font-family: 'HeadMedium';
    color: #000;
}
/*------------------------------Model------------------------------*/


/*------------------------------SLIDER-BOTTOM------------------------------*/

.slider-bottom {margin-bottom: 100px;}

.carousel-control {
	margin-top: 140px;
	width: 44px;
    height: 44px;
    background: rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
	margin-left: 28px
}
.carousel-control.right {
	margin-right: 28px;
}
.slider-bottom .layout .slider-wrap .carousel-inner {
	height: 300px;
}

.slider-bottom .layout .slider-wrap .carousel-inner .item .col-md-2 {
	border: 1px solid #e4dcd3;
	margin: 0 0 15px 28px;
	width: 347px;
	height: 300px;
	display: block;
}
.slider-bottom .layout .slider-wrap .carousel-inner .item .col-md-2 img {
	vertical-align: middle;
	margin: 80px 0 0 35px;
}
.slider-bottom .layout .slider-wrap .carousel-inner .carousel-caption {
	color: #000;
	font-size: 18px;
}
/*------------------------------SLIDER-BOTTOM------------------------------*/




/*------------------------------FOOTER------------------------------*/

.foot {
	background-color: #000;
	width: 100%;
}

.foot .foot-content {
	width: 100%;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 58px;
}
.foot .foot-content .pc-layout {
	position: relative;
}
.foot .foot-content .pc-layout h2 {
	margin: 0;
	display: inline-block;
	float: left;
}

.foot .foot-content .pc-layout .footer-center ul {margin-bottom: 10px;padding-left: 0; }
.foot .foot-content .pc-layout .footer-center ul li a {
	color: #999;
	text-decoration: none;
	font-size: 12px;
}
.foot .foot-content .pc-layout .footer-center ul li:first-child a {}
.foot .foot-content .pc-layout .footer-center ul li:last-child a {
	padding-left: 25px;
}
.foot .foot-content .pc-layout .footer-center ul li:last-child a:before {
	content: '';
    position: absolute;
    top: 6px;
    left: 177px;
    width: 1px;
    height: 10px;
    background: #444;
}


.foot .foot-content .pc-layout .footer-center {
	float: left;
	margin-left: 40px;
}
.foot .foot-content .pc-layout .footer-center p {color: #999;font-size: 12px;margin: 0;}
.foot .foot-content .pc-layout .footer-center p span {color: #999;font-size: 12px;margin-top: 0;}






.foot .foot-content .pc-layout .footer-icon {
	display: inline-block;
	float: right;
}
.foot .foot-content .pc-layout .footer-icon ul {float: left;position: relative;padding-left: 0;}
.foot .foot-content .pc-layout .footer-icon ul li {float: left;}
.foot .foot-content .pc-layout .footer-icon ul li a {float: left;}
.foot .foot-content .pc-layout .footer-icon .button-select {}
.foot .foot-content .pc-layout .footer-icon .button-select select {
	width: 100%;
	height: 30px;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #fff;
}
/*------------------------------FOOTER------------------------------*/